# ovnkube-identity
# starts ovnkube-identity
# it is run on the master(s).
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: ovnkube-identity
  # namespace set up by install
  namespace: ovn-kubernetes
  annotations:
    kubernetes.io/description: |
      This DaemonSet launches the ovnkube-identity networking component on control-plane nodes.
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: ovnkube-identity
  updateStrategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: ovnkube-identity
        name: ovnkube-identity
        component: network
        type: infra
        kubernetes.io/os: "linux"
    spec:
      priorityClassName: "system-cluster-critical"
      serviceAccountName: ovnkube-identity
      hostNetwork: true
      dnsPolicy: Default
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
        kubernetes.io/os: "linux"
      containers:
      - name: ovnkube-identity
        image: "registry.core.syscallx86.com/ovn-kubernetes:v1.2.0"
        imagePullPolicy: "IfNotPresent"
        command: ["/root/ovnkube.sh", "ovnkube-identity"]
        securityContext:
          runAsUser: 0
        terminationMessagePolicy: FallbackToLogsOnError
        resources:
          requests:
            cpu: 100m
            memory: 300Mi
        volumeMounts:
          - mountPath: /etc/webhook-cert/
            name: webhook-cert
        env:
          - name: OVN_DAEMONSET_VERSION
            value: "1.2.0"
          - name: K8S_APISERVER
            valueFrom:
              configMapKeyRef:
                key: k8s_apiserver
                name: ovn-config
          - name: OVNKUBE_LOGLEVEL
            value: "4"
          - name: OVN_ENABLE_INTERCONNECT
            value: ""
          - name: OVN_HYBRID_OVERLAY_ENABLE
            value: ""
      volumes:
        - name: webhook-cert
          secret:
            secretName: ovnkube-webhook-cert
      tolerations:
      - operator: "Exists"

---
apiVersion: v1
kind: Secret
metadata:
  name: ovnkube-webhook-cert
  namespace: ovn-kubernetes
data:
  tls.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZFekNDQXZ1Z0F3SUJBZ0lVUXd6S1ZONW4zaDg4VE4yOVhkcFRhQjU3U05jd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0dURVhNQlVHQTFVRUF3d09jMlZzWmkxemFXZHVaV1F0WTJFd0hoY05Nall3TWpBeU1EazBNalF4V2hjTgpNamN3TWpBeU1EazBNalF4V2pBVU1SSXdFQVlEVlFRRERBbHNiMk5oYkdodmMzUXdnZ0lpTUEwR0NTcUdTSWIzCkRRRUJBUVVBQTRJQ0R3QXdnZ0lLQW9JQ0FRRFRNVnhyY2c1eEozaW43ME4vdWFScGZ3MGdsNktxMHNaMWk2ZWkKRktkcUlrRW9wWEJMWmhHSDkrRmR5eHNVY0dnOGd1cTBUSkNia3lkdWsxSCs3U2JRbDRpNGRyUS8yUUYzakt0UQpUZFVDNEhxbXdDVlJENkplTDZmUFZHQnVUY3cvbjA5eDlwaDFNQ25GL1VJVUNkeHE1dXNRN2dvaUlYNW1sd2ZVCjFsbXc1L2YxUXpPd1F6eTZkZ1BDUHI1WDJnc0xCZ0x4M1M4NE1RTnNCakdhQm0rMmUvZ1JRaWhHU2ZJclFmazEKZDkzNVFBVGlNbm8xZ1kwdTQzMTlXMGpEQ2NrNkRwVkdPY0QwSUVIYTIzcmZPUUQ1bWUrVHZnbXk4ZFdlTWtBZgp1RHNHbmc1TUxmNTNsaldPVlZqYndrT1BwR3hDdVNPZWF1NjZhZWZPdkVPcWovUFF3T1Z6V1VkZUJUM2drb0d4CjhTQUEwNWhCZmpxaSsvZnpZT0F3TFAvT3N6SDErMFQyeWE0Tktvc1VTMDNseTN3UlVEYzJHaFhwOER3a0VYbngKUHJ1d0liSW9PU3Q1Wm9NbDQ3WDBWMmY5N0xKalBxSDQ5c2FQWXptWnVmdEFoeGtBWDh5S3FtblJ4dDAzK1IyUApVSGFSbWFkWWlvQ3lwdi9LLzZyQ3pHNUQ3T3YrdVpOWmR4bmxLdnZRMU5FT0c3Kyt5VGFPdzVESy96OGRtblp2ClQ5N3ZyMjF5aFZTRXV6M0VzdDkwMXlCL2Q3V0s4UFBQcWxSekJsZ2lYYjVmamM4UWMrd0Vsbmp0OXlzWGZRWVkKRlAwbDFXbHJUQldvVGEvWjlncW5HSXFzdUx6TW1pQ0xKazNBQWREZ0JPaGpzZXBaeFM1dmNvbEtOZHZhRy80VQpGdXRWS1FJREFRQUJvMWd3VmpBVUJnTlZIUkVFRFRBTGdnbHNiMk5oYkdodmMzUXdIUVlEVlIwT0JCWUVGTXQ4CjlPN3QvNFg0T2Jtc2RTTHpLc0x5OTdCRE1COEdBMVVkSXdRWU1CYUFGRmkzOTFON0x2RFBVZ0YyUjVlWXN1eUUKcXRGb01BMEdDU3FHU0liM0RRRUJDd1VBQTRJQ0FRQVBKYjQvamZ1YnlLMFRTUWhIbnVlSktUV0F4VVVxVERPTApRQ2cwcm1COGkwS1dmdXErMTZXZkhmd3R3TkdlSG03K0Z2OVBTTnFocnZ3Tm1HNFN3Q1JpOG84SXpGT0xuUmxOCk5vQzUxK0htSENhQy94UkVZYWRXZXJOV1dSZER1UjNnQjBNbXpFcEpOL2YxQ3lTeE9ubC82UGdxMStURGJZeS8KV3ZCN3Z4cGtCU3RTNWtIQy9QejczN0QxUk9PQTh5WmdmZjdTaktTWVQrM0Z5YlFDaWZJb0RwSkFiakRMQVNFLwptSlAvcEJjVUV2OGg1anF0dG93RHZlcUxKTURHNGhuVldoNHRRSUNYY0NtNVpMOXFaQnhYS05YZzE0L0N4MzlBCkViSXJkalh4V2dQUGxrRDg5SlBmQVBZc09heG1iQ1NxV2ZkQlAzcmE1OWV3MGJsNzdFeUtQbEFSRHNvSkkxdjUKbXRHRlF0d3lEMEZFbUlMbTVSdWtCbGZsSVU2STYxL0U5VHIwKzVYS3BUWmt0NDhQV0NRQWtZS3Z4eUlRSEprYgo5QWlIOUNMc05LTW9FSWhjMDVOelQ4L3NjOXFjSXFSNm9oWVJVY3VCZ0RZUXZjaEREaUs2OFlNRlgzZ1RVekF6Cll3Wm1FSUZFM25ZOTBKMzNGV09sT3FSN0dMVjI4blJyK25SUGM4M0VYM1RZTm12bWZPTjVyME9tdWVNNmVkQjMKSkdEVVlnOGsycUtENlFIb2Nuelo1c0djS29KUFg3NmJPOEJ1ckdMaGREY0VOMW5Nb3FWdW5TWW5TWjhBV0E3SQpXZmRES3NaY3JpbG04VDZibUR4M3l4MUVlemhjOHJ2UnpuWVpXeWZqemg4bmU0QWZiOWxBRW42cVdRNWEzRWlMCkM5eGlwRkpua1E9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  tls.key: LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUpRZ0lCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQ1N3d2dna29BZ0VBQW9JQ0FRRFRNVnhyY2c1eEozaW4KNzBOL3VhUnBmdzBnbDZLcTBzWjFpNmVpRktkcUlrRW9wWEJMWmhHSDkrRmR5eHNVY0dnOGd1cTBUSkNia3lkdQprMUgrN1NiUWw0aTRkclEvMlFGM2pLdFFUZFVDNEhxbXdDVlJENkplTDZmUFZHQnVUY3cvbjA5eDlwaDFNQ25GCi9VSVVDZHhxNXVzUTdnb2lJWDVtbHdmVTFsbXc1L2YxUXpPd1F6eTZkZ1BDUHI1WDJnc0xCZ0x4M1M4NE1RTnMKQmpHYUJtKzJlL2dSUWloR1NmSXJRZmsxZDkzNVFBVGlNbm8xZ1kwdTQzMTlXMGpEQ2NrNkRwVkdPY0QwSUVIYQoyM3JmT1FENW1lK1R2Z215OGRXZU1rQWZ1RHNHbmc1TUxmNTNsaldPVlZqYndrT1BwR3hDdVNPZWF1NjZhZWZPCnZFT3FqL1BRd09WeldVZGVCVDNna29HeDhTQUEwNWhCZmpxaSsvZnpZT0F3TFAvT3N6SDErMFQyeWE0Tktvc1UKUzAzbHkzd1JVRGMyR2hYcDhEd2tFWG54UHJ1d0liSW9PU3Q1Wm9NbDQ3WDBWMmY5N0xKalBxSDQ5c2FQWXptWgp1ZnRBaHhrQVg4eUtxbW5SeHQwMytSMlBVSGFSbWFkWWlvQ3lwdi9LLzZyQ3pHNUQ3T3YrdVpOWmR4bmxLdnZRCjFORU9HNysreVRhT3c1REsvejhkbW5adlQ5N3ZyMjF5aFZTRXV6M0VzdDkwMXlCL2Q3V0s4UFBQcWxSekJsZ2kKWGI1ZmpjOFFjK3dFbG5qdDl5c1hmUVlZRlAwbDFXbHJUQldvVGEvWjlncW5HSXFzdUx6TW1pQ0xKazNBQWREZwpCT2hqc2VwWnhTNXZjb2xLTmR2YUcvNFVGdXRWS1FJREFRQUJBb0lDQUFiNk5yblJMVnRtWm9POEk5cXZmL080CkNUaWl6Q21GV25sVXRld3VBWUpBRmVZRXo0WjJMK1E3VXhmZHN1ZU5uQWR2eExLZGlLeXVsZHNqbDA0aUN2TXQKSm5xU1F5Qm9DQklwYTRjK0xER0ZFVHpmaTQ1Y0hvUHo5SzYzR1NWYnlqZUF2OW41R3pNVFpCRlovK0wwQm5NcQprZzF4N0c4UmhxVlhNSHdlYzJaSmZmVlk4SW1Yb0R2dlpsdy9uRWtBVXh1Qk12dVFoMEY5cGFFVXo1Y2tXU2MzCjZ0M1kwVFAyYndpNlo4Uk1pQ24ybW00aFNZUHBkZU9UbmhPdnJDdGhjQ3lWT0oyLy9FdDlvakdrOGJBNEtDQXAKUVU3WG9tYlR1MHFGV3V0c3lpRk02Ullveld4Z0t5VTZ3MWJjZnJKLzJtSE5HTXVwbEoyeG5pOE5KSXlaSGFWNwpuVVZWSElZcm1CQ05TMVJhT1FhajBPK2h0UGFNWWhYOGIxRFFhbXkxemoxY004cHhaQ2FKNnNiT2xraGljSFZRCk9ieEtaZVhHbkNDV1R1ZXRSdmtUR0N3bmcxNS90VXhaa2FlTGlBMTJRZWpVY1JPcStJdG5sQXFsWENSYlNaNi8KK0tYbHRSNlNwY1pTMGhEd1JnWmFXWFI5TWdpVGc5S05GSWJVOTBkbkw0K0x3NU5EUGdqT1BDNS9kQTNHYzZUYwprbS9LMzBPeExNRnZrcTdWU09rVFVQSHdxSWxWRjZkNDRsb2FJOVVsN1M1K0Z4eHVvNDNjQUptcmcxZFBZZml1Cit3V01Bd2loVFZtN1lhQ25LcVBtTnRCNHdVMmlienl4RVhNeG50TXlnbzNWdmx4a1RYem9XQzBVdkpPS0xLNzEKT2RIcWloKzdWd0NkOU1rbEpXODNBb0lCQVFEOVFHeU1wbEtYOWw3SlQ5T0hndGZJbGhoSUVDRk5lTTdCcllicQpFdGFIM3VaTGppNDdYWUZJSUt0ZEZiVTZLOE1QSEVXWVVpc1VDcmUzTGNNbHVzWllZU3YrQzBEMmxiMzRLRW1pCjlUcVlIdDg5NVZlemExRGNxOE9rWGtpZnhXZFUySFByaXVPbC85VjZxZW5kZ3B4OGRUUThUSERtc0F5VTIvVnYKbUFReU5vd1N1WEt1dnlwcExiOVVQWG51K3hteXIwemNTekIrWDdoSWJsWjFIUm5wdTYweWptK1JnVGFENUorQwpqYzFMeGwyZWFJaGVjVWYyUDRPb0xZUi9TOEN0UXFWUXlWOWdIZVlvaURhQlIzeUNoNmExRWNXT0lZNWo4K2FxCmFBVXVSK0RVVVQ0Qzd4Q3pBTWRQWjh1SHIvekNkTTNBc1JubmpLUVd5YWh5U1JxdkFvSUJBUURWZkJjbGRMdW4KL3hzUkJMN2E0eHlIYWhvOCtvUVcvWXFQeXJydFEweG9qdWpyMWFhQ001cS9uQUhzWktZUzBxY3o5NVg3MFd4UworRHY0SDNCbGZibk5GbVdPQVNZcE95ZDdYZFlrV2xMRkE2UVdSQ3ZWeWRDN1RRSnpTN1ZMeVFRSWJwWGZKNms4CkJwZW5YNW00ZnNndTlrUjBubWdQdStDSDBQLzV5V1RYZ0xqbko5a0ZoNzdONGhUU2VOMXBReXI4bmU2V3JDTkgKN0p1Z1ovaExKcklxYlRVZ053bmh3bThnT3R1d3lTSXpYR0loellsOFlhY0tYZHZkVlVVdG9Day9BL3BKNm0zQgo3aUsxaytUUGZoRXpSNnZjenNsckU1cmdud0o2L0owSGQ0cGJEQ1puNnNRaS8yUGZreC9USFUzMnFwREEyTTZRCnI3NjROblh2K3lPbkFvSUJBQWpWYkhQamdWSUhwL3JCckJFNEFTcmdBV3pTRXpkT2xYZXdBOXE2V1gxWHl4U3IKbXZVN0o3MUtWbS9peC9XRmZVSlRyQ0hLQy9LaEJST0FweVB6eGVOalVGT0dOUGZrOVVGb3RsalcwUHBwYVVRUgpjZU95UkpuTjYvOFp3dEsvNGdEVnBBVjlUTCtIa3Z5NlhJdjdlRlhuQ0xGcHdTNXF5YVdQbnBvTDVXbVMrWVBWCnNDaGtScWh3amhIMEt3S3BBNVoyQXVwVVBSYkxZL1F5MVJVMHRLaXdnVFFZUDlBRmY4OU45RHByazlPbTBiRXEKMkViakVLMklQYUZxSlFzRHEyN2Z1a0I5SmJTR2xuYW5lYTg4dlIwWWVqb3Fxb2R3cURUWVZ4MXVqMit6MWlYUgp4Nlgyak5DUm9HSW1yclRHOEx3ZnN1V2J4OW1KMEZkekpVc0hQY1VDZ2dFQVF0NkxvWC9mQjlBd2VqUXlVLzJ2Cmdmc0tITytiVUZnNmZxL1J2Vi9ISHpra1hEcWYzVWlzd0RmdG9rNGtkdURrM3JJK21KSVFqQ3lWSERNODBZMkEKRlcxZWdneDZGNUFmM2RTV3J1eGI0TG96TzRZKzlNZ3lTWGpsdTVlTFFpSEUwWjlSOG9SSnpqT0NiVHJVdTZWNgpycnNVMWpLSUJlV2pmdWRJUnNWK2dNSWhLTWFpZzhqeFN5djF1YmVDSXVhWElHbVh3anBKRXM1YU1QUmdJYW9OClJKelFkemJHTWFEbGpnTGhyWTVTMkNPbjJVNjRNZTJrbE9xeFk3TEI2SGl5Y3JxY08ycmkxa3Z4TTA4UDdLNWcKVk4rdVJZdkFLM29JbVRNMVk3Q2N2eW9DZkdKaDVVcjBCTUphVmoyUFNtRnpla0FTOTFUeDN3QXRqU1lCNnhtUApJUUtDQVFFQTRpR0tpemFNa3ZDamlBL1RyTzdyWVZtMlM0QTdoNmxkZ1JvNUYyMTRrMjhLSmluemVHYjBFZHVoCmFmK3pYbGgvSFJxOG5udUFPZEQ1WWJ5RlZqYW9MMklJWEVYMHIwcWpGazRHMldyd21jMU0vZVo0T3JjV21VWm4KSGF5dXVCZXdqbmdLODlNeUxhYmdwNVZmQVk1TC9USmEwTE13d0VRQzQ1Qk1Nb0pCZitueCtRSWt3UEc0ZjZEdgp6UTh0R2cwaWFBL1lBMnpUamVTQ0ZmUFBFTHhGQWhFSVM2Ym5BSmlzdHdqQUJ3VldFbGIvU083dmpwMWVPUkNSCk42MVFBNTZvcEk2VVBLd0didDFEYmdlTkJ6ekxpOCsyR1c3ajB1R2IzM2plZjZVMGtpbCtrai9WTnNLNUFIZHcKM0g4RUpFLzFGaE1pR0RWTHNkTEt2T2l3Qzh6cTl3PT0KLS0tLS1FTkQgUFJJVkFURSBLRVktLS0tLQo=
type: kubernetes.io/tls

---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: ovn-kubernetes-admission-webhook-node
webhooks:
  - name: ovn-kubernetes-admission-webhook-node.k8s.io
    clientConfig:
      url: https://localhost:9443/node
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZFekNDQXZ1Z0F3SUJBZ0lVR2t6V0NUN3Rva2gwYzlFMERsdGhCaUFUQnpFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0dURVhNQlVHQTFVRUF3d09jMlZzWmkxemFXZHVaV1F0WTJFd0hoY05Nall3TWpBeU1EazBNalF3V2hjTgpNamN3TXpBNU1EazBNalF3V2pBWk1SY3dGUVlEVlFRRERBNXpaV3htTFhOcFoyNWxaQzFqWVRDQ0FpSXdEUVlKCktvWklodmNOQVFFQkJRQURnZ0lQQURDQ0Fnb0NnZ0lCQU5lK0dLY25iOGVPblNGNWw5Mi8vbS9yekpzN0tGQXYKaWlOcys4cEtmc1FoZHcyQktPbC9tZ1FZRUxKWEN3ZFI3M2ZGNFhsQTd5R2lMeEpMcE1sZjVuTUtsaFVsQlZ4WQpVVGpHYnQzZTVvVktlQkpoUU9zTkpDNlpqN2VGclZaTkp6ZzhRTUJGMThYRTlVVnlGbEhEWnlEMEJEQy9aTFR4CnlqMmVvV2g0RC9wazFVUGdjUmVQNGs3amNOYmhEdnRiT1NvNFVzNkJCdHF1K0g0SXNsbG9xc1hzSnRxTkp5ZjUKeTRjUDAxNUx1MEpyVGxrMFk4R3NDb2ZId3cyVHVPZHF4TGE5WkpGTWVuaXhqTkJOYnd5MmtGVkdOTHZmR2pVagpZK1Mxb0RteC9pNlQ3UXk2L2ZXemxjcFdDY1EyUkIwVjc3SmQ1TEtzcjEydDZTSjkwNWxMdmVDUFhVZEg2R2NlCnFLR2NuTnE3blZpVmRsa1JGWWwvSTBCNHNpeEorSXFjMy8xTWhkUVlMcXZZdHpCcWxIbjc2Y3U2aEFJNWNDVUkKQmNwNlc5aWpQVDRBdUJFQjJabG1SSTh5Snkyb2ROSGJNSURrdHFSWnBnSTBKQy9PVVZKWi91ZS8wQThneTJEVAo3dVRKWTc5bUxRUnNRV0RLWGpNbEZPckVwQ2EyTGpMcjNYN2FmWTFGZkhtUnVqR0RlMEJhZ2k0M0YyNlEwall6CmYrelhuQ2VmMklFUEpuSnZ0SXJMRkl0cE5jVW43WHZPTEpCbzdWNzZMVmhVb29Pam1xTGhXeEZuUDBXY0NPRlcKcVVnMm1ETVd5ZkduMmc2ZU9aMEpYdEZEYjhGUG90ZjVCejlOSFFBaEFUZEV2cVcyNDRoWS9IdHduRXJrb0V0SApDQWpJOUpmbFNFb2RBZ01CQUFHalV6QlJNQjBHQTFVZERnUVdCQlJZdC9kVGV5N3d6MUlCZGtlWG1MTHNoS3JSCmFEQWZCZ05WSFNNRUdEQVdnQlJZdC9kVGV5N3d6MUlCZGtlWG1MTHNoS3JSYURBUEJnTlZIUk1CQWY4RUJUQUQKQVFIL01BMEdDU3FHU0liM0RRRUJDd1VBQTRJQ0FRQWx4a2RXckM1MEIwalMweHZJTEVLM0FMdnk5U3VLUURReApYZEtORkJNMkFKdTJseFdWUEdSOUt6WHkrdjRHamlpZkJKQVBlTTBranNMTGsvak5id1ZweGNzb2lpTHJFZTNlCkp2TnZQdE1Qd2dOeHVNVXl6ZHYrbktURi9jQ2hva3plSEY5ZTFwZ0dxVERYNkh0eUZZOE9qQTRXQXZOeDV6VmYKbXNCU3RxQXU0NmYreU5YT3RRdFBrZklkd3ZoaG9IdnFxbFc4NEgzL1prUnZpdi9XZjdVOGU0UkxCMzlHNEVaZgpyUlpFUFAyS2hHdi9nL1ZuWUJwVS96UmVFZjU3TjN1Vk52MjF2WGlLL3pHTUhUdUdCMmhJZW5oRnpPT1pnOUJFCk5EQm9aTFUrUm9yWi95dHZvekFCdDQ5d1UxWWhDZzJ5M25DcDkxRW96Y3A4bVZpUk1lUWx1TUhRRHByMXNkYTUKMVduOWx2MzRtRmhwc1BnNHNNQTYwTFN1RnNLV05NamRNZEFSRTMvNHZXOHEvRDVKbm5LR0tzSEVVQ3paVmk4Swo5ZDMySDQvYUlsUmJzcUROU2ljbk4yL0dpQzhQM2xCSFMwTzErVTRSNGlYY2VPWkNDTG1KNUdGdlpLbE5lOS9pCnY0WVdrd0gzbUhuVzN6L3JMYi9hc1hyRGVRdGJ3NndqdENKbU81RWF2bDJzTkl5YUdnTkxTSjhKVWI1dDFTbUYKYldSdmtyRUZMbEJacVVuaU13dHg0VDhmamRnRTBiaWZYenh0TDIzSG9DSDBMNGN2S2dOV0U5TmUxMEV3Z0YvTgprVEIzSmNpbHJKWFNCd2NtVFZHbENuam9mSGo0WWl6TExyVkVUWmloZm52c241aFFRYnpudmtoOTJhc3B3R3JlCnowSXBBS0M1bXc9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    admissionReviewVersions: ['v1']
    sideEffects: None
    rules:
      - operations: [ "UPDATE" ]
        apiGroups: ["*"]
        apiVersions: ["*"]
        resources: ["nodes/status"] # Using /status subresource doesn't protect from other users changing the annotations
        scope: "*"

# in non-ic environments ovnkube-node doesn't have the permissions to update pods

