---
- hosts: localhost
  become: false
  gather_facts: no
  tasks:

  - name: Set global variables
    include: include/_global_vars.yaml

  - name: Set local variables
    include: include/_setup_vars.yaml

  - name: Set post variables
    include: include/_post_vars.yaml

  - name: Set keycloak variables
    include: include/_keycloak_vars.yaml

  - name: "Create ansible group for new hosts"
    add_host: name="{{ ip }}" groups=newhost

- hosts: newhost
  become: true
  gather_facts: no
  tasks:
  
  - name: Set global variables
    include: include/_global_vars.yaml

  - name: Set local variables
    include: include/_setup_vars.yaml

  - name: Set post variables
    include: include/_post_vars.yaml

  - name: Set keycloak variables
    include: include/_keycloak_vars.yaml

  - name: Create new realm
    community.general.keycloak_realm:
      auth_keycloak_url: https://idp.{{ domain }}
      auth_username: admin
      auth_password: "{{- adminpwd -}}"
      auth_realm: master
      realm: "{{ domain}}"
      enabled: true
      state: present
      validate_certs: false

  - name: Define user federation to connect to LDAP
    community.general.keycloak_user_federation:
      auth_keycloak_url: https://idp.{{ domain }}
      auth_username: admin
      auth_password: "{{- adminpwd -}}"
      auth_realm: master
      realm: "{{ domain}}"
      name: freeipa-ldap
      providerId: ldap
      config:
        priority: "0"
        fullSyncPeriod: "86400"
        changedSyncPeriod: "604800"
        importEnabled: "true"
        editMode: "READ_ONLY"
        vendor: "other"
        connectionUrl: "ldap://{{ ipaserver }}.{{ domain  }}:389"
        usersDn: "ou=Users,{{ ldapbase }}"
        authType: "simple"
        bindDn: "uid=admin,cn=users,cn=accounts,{{ ldapbase }}"
        bindCredential: "{{ adminpwd }}"
        usersDn: "cn=users,cn=accounts,{{ ldapbase  }}"
        searchScope: "1"
        usernameLDAPAttribute: "uid"
        rdnLDAPAttribute: "uid"
        uuidLDAPAttribute: "ipaUniqueID"
        userObjectClasses: "inetOrgPerson"
        trustEmail: "true"
      mappers:
      - name: "username"
        providerId: "user-attribute-ldap-mapper"
        providerType: "org.keycloak.storage.ldap.mappers.LDAPStorageMapper"
        config:
          ldap.attribute: uid
          user.model.attribute: username
          read.only: true
          always.read.value.from.ldap: true
          is.mandatory.in.ldap: true
      - name: "given-name"
        providerId: "full-name-ldap-mapper"
        providerType: "org.keycloak.storage.ldap.mappers.LDAPStorageMapper"
        config:
          ldap.full.name.attribute: cn
          read.only: true
          write.only: false
      - name: "group"
        providerId: "group-ldap-mapper"
        providerType: "org.keycloak.storage.ldap.mappers.LDAPStorageMapper"
        config:
          groups.dn: "cn=groups,cn=accounts,{{ ldapbase -}}"
          group.name.ldap.attribute: cn
          mode: "READ_ONLY"
      - name: "email"
        providerId: "user-attribute-ldap-mapper"
        providerType: "org.keycloak.storage.ldap.mappers.LDAPStorageMapper"
        config:
          ldap.attribute: mail
          user.model.attribute: email
          read.only: true
          always.read.value.from.ldap: true
          is.mandatory.in.ldap: false
      validate_certs: false

  