---
- hosts: localhost
  become: false
  gather_facts: no
  tasks:

  - name: Set global variables
    include: include/_global_vars.yaml

  - name: Set local variables
    include: include/_setup_vars.yaml

  - name: Set post variables
    include: include/_post_vars.yaml

  - name: Set keycloak variables
    include: include/_keycloak_vars.yaml

  - name: "Create ansible group for new hosts"
    add_host: name="{{ ip }}" groups=newhost

- hosts: newhost
  become: true
  gather_facts: no
  tasks:
  
  - name: Set global variables
    include: include/_global_vars.yaml

  - name: Set local variables
    include: include/_setup_vars.yaml

  - name: Set post variables
    include: include/_post_vars.yaml

  - name: Set keycloak variables
    include: include/_keycloak_vars.yaml

  - name: Add certificate and keys to conf
    shell: echo -e "https-certificate-file=\${kc.home.dir}/conf/idp.{{- domain -}}.crt\nhttps-certificate-key-file=\${kc.home.dir}/conf/idp.{{- domain -}}.key" \
           >> /opt/keycloak/current/conf/keycloak.conf
  
  - name: Add keycloak hostname
    shell: echo -e "hostname=idp.{{- domain }}" >> /opt/keycloak/current/conf/keycloak.conf

  - name: Configure postgre database to keycloak
    shell: echo -e "db=postgres\ndb-username={{- db_username }}\ndb-password={{- db_password }}\ndb-url=jdbc:postgresql://localhost/keycloak" \
           >> /opt/keycloak/current/conf/keycloak.conf
  
  - name: Start keycloak service
    shell: sudo -u keycloak /opt/keycloak/current/bin/kc.sh start

  - name: Wait for keycloak to start
    wait_for:
      port: 8443
      delay: 20

  - name: Bootstrap keycloak - create admin user
    shell: /opt/keycloak/current/bin/kc.sh bootstrap-admin user --username admin --password:env PASSWORD
    environment:
      PASSWORD: "{{ kcadminpwd }}"