---
- hosts: localhost
  become: true
  gather_facts: no
  vars_files:
    - include/_users.yaml
  tasks:

  - name: Set global variables
    include: include/_global_vars.yaml

  - name: Set global variables
    include: include/_setup_vars.yaml


  - name: Set post variables
    include: include/_post_vars.yaml

  - name: Lookup SRV record
    shell: export jump_host=$(dig +short SRV _jump._tcp.{{- domain }} | awk '{print $4}' | sed s/\.$//g) && dig +short $jump_host
    register: jumpsrv

  - name: "Create ansible group for new hosts"
    add_host: name="{{ jumpsrv.stdout }}" groups=jump

- hosts: jump
  become: true
  gather_facts: no
  vars_files:
    - include/_users.yaml
  tasks:

  - name: Loop over multiple tasks for each user
    ansible.builtin.include_tasks:
      file: "_prepare_krew.yaml"
    loop: "{{ users }}"