---
- hosts: localhost
  become: true
  gather_facts: no
  tasks:

  - name: Set global variables
    include: include/_global_vars.yaml

  - name: Set global variables
    include: include/_setup_vars.yaml

  - name: Set local variables
    include: include/_smtp_vars.yaml

  - name: Set post variables
    include: include/_post_vars.yaml

  - name: "Create ansible group for new hosts"
    add_host: name="{{ ip }}" groups=newhost


- hosts: newhost
  become: true
  gather_facts: no
  vars_files:
    - include/_users.yaml
  tasks:

  - name: Set global variables
    include: include/_global_vars.yaml

  - name: Set global variables
    include: include/_setup_vars.yaml

  - name: Set local variables
    include: include/_smtp_vars.yaml

  - name: Set post variables
    include: include/_post_vars.yaml

  - name: Get the krb5 ticket
    shell: echo "{{ adminpwd }}" | kinit {{ svcadmin }}

  - name: Create user group
    shell: ipa group-del users
    ignore_errors: yes

  - name: Loop over multiple tasks for each user
    ansible.builtin.include_tasks:
      file: "_remove_users.yaml"
    loop: "{{ users }}"