---
- hosts: localhost
  become: true
  gather_facts: no
  tasks:

  - name: Set global variables
    include: include/_global_vars.yaml

  - name: Set local variables
    include: include/_setup_vars.yaml

  - name: Set post variables
    include: include/_post_vars.yaml

  - name: "Create ansible group for new hosts"
    add_host: name="{{ ip }}" groups=newhost

- hosts: newhost
  become: true
  gather_facts: no
  tasks:

  - name: Set global variables
    include: include/_global_vars.yaml

  - name: Set local variables
    include: include/_setup_vars.yaml

  - name: Set post variables
    include: include/_post_vars.yaml

  - name: Get the krb5 ticket
    shell: echo "{{ adminpwd }}" | kinit {{ svcadmin }}

  - name: Add spn to to ipa
    shell: ipa service-add {{ srv_name -}}/{{- fqdn -}}@{{ realm }}

  - name: Get the keytab
    shell: ipa-getkeytab -p {{ srv_name -}}/{{- fqdn -}}@{{ realm }} -k /etc/{{- srv_name -}}.keytab 

  - name: Add srv record to ipa
    shell: ipa dnsrecord-add {{ domain }} _{{ srv_name -}}._tcp --srv-port={{- srv_port }} --srv-priority=0 --srv-weight=100 --srv-target={{- hostname -}}
    

