---
- hosts: localhost
  become: true
  gather_facts: no
  tasks:

  - name: Set global variables
    include: include/_global_vars.yaml

  - name: Set REALM
    set_fact: 
      realm: "{{ domain|upper }}"

  - name: Lookup idp hostname record
    shell: dig +short SRV _idp._tcp.{{- domain }} | awk '{print $4}' | sed s/\.$//g
    register: idpdom

  - name: Lookup SRV record
    shell: export idp_host=$(dig +short SRV _idp._tcp.{{- domain }} | awk '{print $4}' | sed s/\.$//g) && dig +short $idp_host
    register: idpsrv

  - name: "Create ansible group for new hosts"
    add_host: name="{{ idpsrv.stdout }}" groups=idp

- hosts: idp
  become: true
  gather_facts: no
  tasks:

  - name: Set global variables
    include: include/_global_vars.yaml

  - name: Set local variables
    include: include/_setup_vars.yaml

  - name: Set post variables
    include: include/_post_vars.yaml

  - name: Create new client
    community.general.keycloak_client:
      auth_keycloak_url: https://idp.{{ domain }}
      auth_username: admin
      auth_password: "{{- adminpwd -}}"
      auth_realm: master
      realm: "{{ domain}}"
      client_id: "{{- srv_name -}}"
      state: present
    when: srv_type != "confidential"



  - name: Create new client
    community.general.keycloak_client:
      auth_keycloak_url: https://idp.{{ domain }}
      auth_username: admin
      auth_password: "{{- adminpwd -}}"
      auth_realm: master
      realm: "{{ domain}}"
      client_id: "{{- srv_name -}}"
      state: present
      public_client: false
      client_authenticator_type: client-secret
      standard_flow_enabled: true
    when: srv_type == "confidential"